body::-webkit-scrollbar {
    display: none;
  }
  
  /* Larghezza minima (SMARTPHONE) */
  @media screen and (min-width: 120px) {
    body{
        font-size: 4vw !important;  /* ?? */
        line-height: 35px !important;
        display:flex; 
        flex-direction:column; 
    }

    #footer{
        left: 15;
        bottom: 10;
        padding-left: 15px;
        padding-bottom: 10px;
        font-size: 2.5vw;
        line-height: normal;

        margin-top:auto; 
    }

    .second{
        display: none;
    }

    .first{
        position: static;
        top: 0;
    }

    #btn{
        padding: 15px;
        position: absolute;
        right: 0;
    }

    #title{
        position: static;
        padding: 15px;
    }

    img{
        width: 98%;
    }
  }

  /* Larghezza SUPERIORE a smartphone (TABLET) */
  @media screen and (min-width: 768px) {
    body{
        font-size: 4vw !important;
        line-height: 40px !important;
    }

    .first{
        position: static;
    }
  }

  /* Larghezza SUPERIORE a tablet (PC) */
  @media screen and (min-width: 990px) { 
    body{
        font-size: 1.6vw !important;
        line-height: 35px !important;
    }

    img{
        width: 95%;
    }

    #btn{
        display: none;
    }  
    
    .colonna{
        padding-left: 30px;
    }

    .about{
        padding-bottom: 100px;
    }

    .first{
        position: sticky;
        top: 80;
    }

    .second{
        position: sticky;
        top: 80;
        display: block;
    } 

    .box{
        margin-top: 15px;
        padding-right: 15px;
    }

    #title{
        z-index: 2;
        position: fixed;
        padding: 30px;
    }

    #footer{
        position: fixed;
        left: 0;
        bottom: 0;
        padding-left: 30px;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: normal;
    }

}

body{
    font-family: Helvetica;
}

.subtitle{
    margin-bottom: 0px;
}

hr{
    margin: 0px;
}

li{
    position: relative;
    left: 0;
    transition: left ease 0.5s;
}

li:hover {
    left: -30px;
}

hr{
    border: 1px solid;
}

a, a:hover{
    color: black;
}













