    @import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .titoloprogetto{
        font-weight: 500;
        margin-bottom: -5px;
    }

    .sottotitoloprogetto{
        font-weight: 300;
        text-decoration: underline;
    }

    .immagineprogetto{
        margin-bottom: 15px;
    }

    .testoprogetto{
        font-weight: 300;
        margin-top: 15px;
        padding-right: 15px;
    }

    .titolieinfo{
        font-weight: 500;
    }
  
  /* Larghezza minima (SMARTPHONE) */
  @media screen and (min-width: 120px) {
    body{
        font-size: 4vw !important;  /* ?? */
        line-height: 130% !important;
        display:flex; 
        flex-direction:column; 
    }

    #footer{
        left: 15;
        bottom: 10;
        padding-left: 15px;
        padding-bottom: 10px;
        font-size: 2.5vw;
        line-height: normal;

        margin-top:auto; 
    }

    .second{
        display: none;
    }

    .first{
        position: static;
        top: 0;
    }

    #btn{
        padding: 15px;
        position: absolute;
        right: 0;
    }

    #title{
        font-family: 'Inter var', sans-serif;
        font-variation-settings: "wght" 500;
        transition: 2s;
        position: static;
        padding: 15px;
    }

    #title:hover{
    font-variation-settings: "wght" 900;
    transition: 0.5s;
    text-decoration: none;
    }

    #Info, #Contact{
        font-weight: 300;
    }

    img{
        width: 98%;
    }

    /*.thirdColumn{
        padding-bottom: 30px;
    }*/
  }

  /* Larghezza SUPERIORE a smartphone (TABLET) */
  @media screen and (min-width: 768px) {
    body{
        font-size: 4vw !important;
        line-height: 130% !important;
    }

    .first{
        position: static;
    }
  }

  /* Larghezza SUPERIORE a tablet (PC) */
  @media screen and (min-width: 990px) { 
    body{
        font-size: 1.4vw !important;
        line-height: 130% !important;
    }

    .title{
        font-size: 1.8vw;
    }

    .subtitle{
        font-size: 1.6vw;
    }

    img{
        width: 95%;
    }

    #btn{
        display: none;
    }  
    
    .colonna{
        padding-left: 30px;
    }

    .about{
        padding-bottom: 100px;
    }

    .first{
        position: sticky;     
        top: 0;
        display: block;
        padding-top: 80px;
    }

    .second{
        position: sticky;
        top: 0;
        display: block;
        padding-top: 80px;
    } 

    .box{
        margin-top: 15px;
        padding-right: 15px;
    }

    #title{
        z-index: 2;
        position: fixed;
        padding: 30px;
    }

    #footer{
        position: fixed;
        left: 0;
        bottom: 0;
        padding-left: 30px;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: normal;
    }
}

body{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.midTitle{
    margin-bottom: 0px;
}

hr{
    margin: 0px;
}

.link{
    position: relative;
    left: 0;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease;
}

.link:hover {
    left: -30px;
}

hr{
    border: 1px solid;
}

a, a:hover{
    color: black;
}

.clicked{
    position: relative;
    left: -30px;
}

#thirdColumn{
    margin-top: 0px;
    padding-top: 15px;
    background-color: white;
}
















